# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
#*.exe
*.out
*.app
/X64/


*.DS_Store

/cmake-build-debug/
/cmake-build-release/
/linux/
/.vs/
/.vscode/
/.idea/
/c_wrapper/.idea/
/release/
/out/
/Android/.idea/
/Android/app/src/main/cpp/libs_export/
/3rdpart/media-server/.idea/
/3rdpart/media-server/.idea/
/build/
/3rdpart/media-server/.idea/
/ios/
/cmake-build-*/
/3rdpart/ZLToolKit/cmake-build-mq/

# Visual Studio files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters

# Visual Studio IntelliSense
/ipch/
/.vs/

# Visual Studio output files
*.aps
*.targets
*.tlog
*.tlog.json
*.lastbuildstate
*.unsuccessfulbuild
*.log
*.exp
*.idb
*.pdb
*.ipdb
*.iobj
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.vspscc
*.vssscc
*.metagen
*.bi
*.cost
*.err
*.err.txt
*.ncb
*.opensdf
*.sdf
*.ilk
*.cache
*.cache.txt
*.obj
*.obj.d
*.pri
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.vspscc
*.vssscc
*.metagen
*.bi
*.cost
*.err
*.err.txt
*.ncb
*.opensdf
*.sdf
*.ilk
*.cache
*.cache.txt
*.obj
*.obj.d
*.pri
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.vspscc
*.vssscc
*.metagen
*.bi
*.cost
*.err
*.err.txt
*.ncb
*.opensdf
*.sdf
*.ilk
*.cache
*.cache.txt

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
_deps/
*.cmake